*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
div {
    display: grid;
}

body {
    place-content: center;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    perspective: 70em; /* Aumenta la perspectiva para que el 치rbol se vea m치s grande */
    background: #000014;
}

/* Ajuste del texto titular */
.titular {
    text-align: center;
    margin-top: 45px;  /* Mueve el texto hacia arriba */
    color: #fff;  /* Cambia el color del texto a blanco */
    line-height: 1.1;
    letter-spacing: 1px;
    opacity: 0.9;
    animation: fadeIn 3s ease-in-out forwards;
    padding: 5px;
    position: absolute;
    top: 20px;  /* Coloca el texto en la parte superior */
    left: 50%;
    transform: translateX(-50%);  /* Centra el texto horizontalmente */
    margin-bottom: 60px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 10;
    padding: 0 20px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

/* Estilo para el bot칩n "Volver" */
.btn-left {
    background-color: transparent;
    /* Fondo transparente */
    border-color: #b3a2fd;
    /* Borde rojo */
}

/* Efecto hover para el bot칩n "Volver" */
.btn-left:hover {
    border-color: #a996fd;
    /* Borde rojo */
}

/* Estilo para el bot칩n "Seguir viendo" */
.btn-right {
    background-color: transparent;
    /* Fondo transparente */
    border-color: #1abc9c;
    /* Borde verde */
}

/* Efecto hover para el bot칩n "Seguir viendo" */
.btn-right:hover {
    border-color: #16a085;
    /* Borde m치s oscuro cuando se pasa el mouse */
}

div {
    transform-style: preserve-3d;
    margin-top: 10px;  /* Agrega un margen superior para separar el 치rbol del titular */
}

.a3d {
    --m: calc(.5*(var(--n-stars) - 1));
    --t: calc(0.33333*var(--n-stars)*0.1s);
    animation: roty 15s linear var(--t) infinite reverse; /* Aumentamos la duraci칩n de la animaci칩n */
}

@keyframes roty {
    to {
        rotate: y 1turn;
    }
}

.游 {
    --q: Min(1, var(--j));
    --p: calc(1 - var(--q));
    --s: calc((1.5*var(--p) + var(--q)*var(--sf))*3.5em); /* Aumentamos el tama침o de las estrellas */
    --ay0: calc(var(--i)/var(--n-arms)*1turn);
    --ay1: calc(var(--ay0) - var(--n-loops)*1turn);
    --ay: calc((var(--j)/var(--n-stars)*var(--n-loops) + var(--i)/var(--n-arms))*1turn);
    --tx: calc(var(--q)*var(--rox)*3em); /* Ajustamos las posiciones */
    --ty0: calc(var(--m)/var(--n-stars)*30em); /* Ajustamos la posici칩n en el eje Y */
    --ty1: calc(-1*var(--ty0) - 0.75*3em); /* Ajustamos la posici칩n en el eje Y */
    --ty: calc((var(--j) - var(--m))/var(--n-stars)*30em + (var(--q)*var(--roy) - var(--p)*0.75)*3em); /* Ajustamos la posici칩n */
    --tz: calc(var(--j)/var(--n-stars)*15em + var(--q)*var(--roz)*3em); /* Aumentamos la profundidad */
    grid-area: 1/ 1;
    width: var(--s);
    height: var(--s);
    --pos: rotatey(var(--ay)) translate3d(var(--tx), var(--ty), var(--tz)) rotatey(calc(-1*var(--ay)));
    transform: var(--pos);
    --dt: calc(0.33333*(var(--n-stars) - var(--j))*0.1s);
    animation: grow calc(var(--q)*0.1s) ease-out var(--dt) backwards, move calc(var(--p)*var(--t)) linear;
}

.游::after {
    opacity: calc(var(--p) + var(--q)*var(--j)/var(--n-stars) + .25);
    background: radial-gradient(#fffacd 10%, rgba(255, 250, 205, 0.2));
    --points: 50% 0%, 53.53553% 41.46447%, 85.35534% 14.64466%, 58.53553% 46.46447%, 100% 50%, 58.53553% 53.53553%, 85.35534% 85.35534%, 53.53553% 58.53553%, 50% 100%, 46.46447% 58.53553%, 14.64466% 85.35534%, 41.46447% 53.53553%, 0% 50%, 41.46447% 46.46447%, 14.64466% 14.64466%, 46.46447% 41.46447%;
    -webkit-clip-path: polygon(var(--points));
    clip-path: polygon(var(--points));
    animation: roty 15s linear var(--t) infinite, puls calc(var(--p)*.1s) ease-in-out infinite alternate, hue 4s linear var(--dt) infinite;
    content: "";
}

@keyframes grow {
    0% {
        transform: var(--pos) scale(0);
    }
}

@keyframes move {
    0% {
        transform: rotatey(var(--ay0)) translate3d(0, var(--ty0), 15em) rotatey(calc(-1*var(--ay0))); /* Ajustamos la posici칩n */
    }

    100% {
        transform: rotatey(var(--ay1)) translate3d(0, var(--ty1), 0) rotatey(calc(-1*var(--ay1))); /* Ajustamos la posici칩n */
    }
}

@keyframes puls {
    to {
        scale: .3; /* Aumentamos el tama침o del pulso */
        opacity: 0.3;
    }
}

@keyframes hue {
    to {
        filter: hue-rotate(360deg);
    }
}

.游:nth-child(n + 1) {
    --i: 0
}

.游:nth-child(n + 101) {
    --i: 1
}

.游:nth-child(100n + 1) {
    --j: 0
}

.游:nth-child(100n + 2) {
    --j: 1
}

.游:nth-child(100n + 3) {
    --j: 2
}

.游:nth-child(100n + 4) {
    --j: 3
}

.游:nth-child(100n + 5) {
    --j: 4
}

.游:nth-child(100n + 6) {
    --j: 5
}

.游:nth-child(100n + 7) {
    --j: 6
}

.游:nth-child(100n + 8) {
    --j: 7
}

.游:nth-child(100n + 9) {
    --j: 8
}

.游:nth-child(100n + 10) {
    --j: 9
}

.游:nth-child(100n + 11) {
    --j: 10
}

.游:nth-child(100n + 12) {
    --j: 11
}

.游:nth-child(100n + 13) {
    --j: 12
}

.游:nth-child(100n + 14) {
    --j: 13
}

.游:nth-child(100n + 15) {
    --j: 14
}

.游:nth-child(100n + 16) {
    --j: 15
}

.游:nth-child(100n + 17) {
    --j: 16
}

.游:nth-child(100n + 18) {
    --j: 17
}

.游:nth-child(100n + 19) {
    --j: 18
}

.游:nth-child(100n + 20) {
    --j: 19
}

.游:nth-child(100n + 21) {
    --j: 20
}

.游:nth-child(100n + 22) {
    --j: 21
}

.游:nth-child(100n + 23) {
    --j: 22
}

.游:nth-child(100n + 24) {
    --j: 23
}

.游:nth-child(100n + 25) {
    --j: 24
}

.游:nth-child(100n + 26) {
    --j: 25
}

.游:nth-child(100n + 27) {
    --j: 26
}

.游:nth-child(100n + 28) {
    --j: 27
}

.游:nth-child(100n + 29) {
    --j: 28
}

.游:nth-child(100n + 30) {
    --j: 29
}

.游:nth-child(100n + 31) {
    --j: 30
}

.游:nth-child(100n + 32) {
    --j: 31
}

.游:nth-child(100n + 33) {
    --j: 32
}

.游:nth-child(100n + 34) {
    --j: 33
}

.游:nth-child(100n + 35) {
    --j: 34
}

.游:nth-child(100n + 36) {
    --j: 35
}

.游:nth-child(100n + 37) {
    --j: 36
}

.游:nth-child(100n + 38) {
    --j: 37
}

.游:nth-child(100n + 39) {
    --j: 38
}

.游:nth-child(100n + 40) {
    --j: 39
}

.游:nth-child(100n + 41) {
    --j: 40
}

.游:nth-child(100n + 42) {
    --j: 41
}

.游:nth-child(100n + 43) {
    --j: 42
}

.游:nth-child(100n + 44) {
    --j: 43
}

.游:nth-child(100n + 45) {
    --j: 44
}

.游:nth-child(100n + 46) {
    --j: 45
}

.游:nth-child(100n + 47) {
    --j: 46
}

.游:nth-child(100n + 48) {
    --j: 47
}

.游:nth-child(100n + 49) {
    --j: 48
}

.游:nth-child(100n + 50) {
    --j: 49
}

.游:nth-child(100n + 51) {
    --j: 50
}

.游:nth-child(100n + 52) {
    --j: 51
}

.游:nth-child(100n + 53) {
    --j: 52
}

.游:nth-child(100n + 54) {
    --j: 53
}

.游:nth-child(100n + 55) {
    --j: 54
}

.游:nth-child(100n + 56) {
    --j: 55
}

.游:nth-child(100n + 57) {
    --j: 56
}

.游:nth-child(100n + 58) {
    --j: 57
}

.游:nth-child(100n + 59) {
    --j: 58
}

.游:nth-child(100n + 60) {
    --j: 59
}

.游:nth-child(100n + 61) {
    --j: 60
}

.游:nth-child(100n + 62) {
    --j: 61
}

.游:nth-child(100n + 63) {
    --j: 62
}

.游:nth-child(100n + 64) {
    --j: 63
}

.游:nth-child(100n + 65) {
    --j: 64
}

.游:nth-child(100n + 66) {
    --j: 65
}

.游:nth-child(100n + 67) {
    --j: 66
}

.游:nth-child(100n + 68) {
    --j: 67
}

.游:nth-child(100n + 69) {
    --j: 68
}

.游:nth-child(100n + 70) {
    --j: 69
}

.游:nth-child(100n + 71) {
    --j: 70
}

.游:nth-child(100n + 72) {
    --j: 71
}

.游:nth-child(100n + 73) {
    --j: 72
}

.游:nth-child(100n + 74) {
    --j: 73
}

.游:nth-child(100n + 75) {
    --j: 74
}

.游:nth-child(100n + 76) {
    --j: 75
}

.游:nth-child(100n + 77) {
    --j: 76
}

.游:nth-child(100n + 78) {
    --j: 77
}

.游:nth-child(100n + 79) {
    --j: 78
}

.游:nth-child(100n + 80) {
    --j: 79
}

.游:nth-child(100n + 81) {
    --j: 80
}

.游:nth-child(100n + 82) {
    --j: 81
}

.游:nth-child(100n + 83) {
    --j: 82
}

.游:nth-child(100n + 84) {
    --j: 83
}

.游:nth-child(100n + 85) {
    --j: 84
}

.游:nth-child(100n + 86) {
    --j: 85
}

.游:nth-child(100n + 87) {
    --j: 86
}

.游:nth-child(100n + 88) {
    --j: 87
}

.游:nth-child(100n + 89) {
    --j: 88
}

.游:nth-child(100n + 90) {
    --j: 89
}

.游:nth-child(100n + 91) {
    --j: 90
}

.游:nth-child(100n + 92) {
    --j: 91
}

.游:nth-child(100n + 93) {
    --j: 92
}

.游:nth-child(100n + 94) {
    --j: 93
}

.游:nth-child(100n + 95) {
    --j: 94
}

.游:nth-child(100n + 96) {
    --j: 95
}

.游:nth-child(100n + 97) {
    --j: 96
}

.游:nth-child(100n + 98) {
    --j: 97
}

.游:nth-child(100n + 99) {
    --j: 98
}

.游:nth-child(100n + 100) {
    --j: 99
}

@media screen and (min-width: 371px) and (max-width: 575px) {
    .buttons {
        position: fixed; /* Fija los botones en la parte superior */
        display: flex; /* Mant칠n los botones alineados en l칤nea */
        justify-content: space-between; /* Coloca los botones en las esquinas */
        align-items: center; /* Alinea los botones */
        z-index: 10; /* Asegura que los botones est칠n encima del contenido */
        padding: 0 10px; /* Ajusta el padding para que no est칠n demasiado pegados a los bordes */
    }

    /* Botones */
    button {
        font-size: 1rem; /* Reducci칩n del tama침o de los botones */
        padding: 4px 8px; /* Ajusta el padding */
        width: auto; /* Ajusta el tama침o de los botones */
        max-width: 150px; /* Limita el ancho de los botones */
    }

    /* T칤tulo */
    .titulo {
        font-size: 24px; /* A칰n m치s peque침o */
        padding: 5px; /* Ajuste de padding */
        line-height: 2.2; /* Menos espaciado entre las l칤neas */
        text-align: center; /* Centrar el t칤tulo */
    }
    
    .btn-left,
    .btn-right {
        width: 100%; /* Los botones ocupan todo el ancho en pantallas peque침as */
        margin-bottom: 10px; /* Espacio entre los botones */
    }

    .btn-left:hover,
    .btn-right:hover {
        transform: scale(1.05); /* Reducir el efecto hover */
    }

    .a3d {
        animation: roty 20s linear var(--t) infinite reverse; /* Hacer la animaci칩n m치s lenta */
    }

    .游 {
        --s: calc((1.5 * var(--p) + var(--q) * var(--sf)) * 2.5em); /* Reducir el tama침o de las estrellas */
        --tz: calc(var(--j) / var(--n-stars) * 10em + var(--q) * var(--roz) * 2em); /* Reducir la profundidad */
    }

    .游::after {
        animation: puls calc(var(--p) * 0.15s) ease-in-out infinite alternate, hue 6s linear var(--dt) infinite; /* Ajustar la animaci칩n */
    }
}
